/* @font-face {
  font-family: 'GreatVibes-Regular';
	  src: 
		  url('../fonts/GreatVibes-Regular/GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/GreatVibes-Regular/GreatVibes-Regular.woff') format('woff'), 
		  url('../fonts/GreatVibes-Regular/GreatVibes-Regular.ttf')  format('truetype'), 
		  url('../fonts/GreatVibes-Regular/GreatVibes-Regular.svg#GreatVibes-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
} */
body {
 	overflow-x: hidden;
	margin: 0;
	min-width: 303px;
	height: 100%;
	color: #252525;
	background: #ebebeb url(../img/bg_body.jpg) repeat-x fixed center top;
	font: 14px/24px Verdana, helvetica, sans-serif;
}
/* General reset */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#main {
	display: block;
}
img {
	border-style: none;
	display: block;
}
input, select, textarea {
	vertical-align: middle;
	display: block;
	outline: none;
	font: 14px/16px Arial;
	color: #888;
}
label, input[type="submit"]{
	cursor: pointer;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
a {
	color: #f00;
	text-decoration: none;
}
a:hover {text-decoration: underline;}
/* General settings */
#bg-wrapper {
	background: rgba(236, 231, 136, 0.2);
}
#wrapper {
	margin: 0 auto;
	max-width: 1170px;
	padding-top: 75px;
	position: relative;
}
#header {
	width: 100%;
	padding: 15px 20px;
	margin: 0 0 25px;
	background: #81decc;
	background: -moz-linear-gradient(top,  #81decc 1%, #46ddbf 100%);
	background: -webkit-linear-gradient(top,  #81decc 1%,#46ddbf 100%);
	background: linear-gradient(to bottom,  #81decc 1%,#46ddbf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81decc', endColorstr='#46ddbf',GradientType=0 );
}
#header:after {
	content: "";
	display: block;
	clear: both;
}
#header a.logo {
	color: #fff;
	font-size: 74px;
	line-height: 76px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	filter: Shadow(Color=#666666, Direction=45, Strength=4);
}
#header a.logo:hover {
	text-decoration: none;
}
#header a.logo span:first-child {
	color: #4c8be9;
}
#header a.logo span {
	color: #ff0000;
}
#header h1 {
	float: left;
	margin: 0;
	font-family: 'Great Vibes', cursive;
}
#header .contacts {
	float: right;
	color: #e9633d;
	font-family: 'Marck Script', cursive;
}
#header .contacts .phone {
	text-align: right;
}
#header .contacts .phone span {
	font-size: 32px;
	line-height: 34px;
}
#wrapper #header .contacts .phone em {
	font-size: 42px;
	line-height: 44px;
	font-style: normal;
}
#header .contacts .phone strong {
	display: block;
    font-size: 42px;
    line-height: 44px;
    font-weight: normal;
}
#header .menu {
	float: left;
	width: 100%;
	padding: 15px 0 5px;
}
#header .menu > ul:after {
	content: "";
	display: block;
	clear: both;
}
#header .menu > ul > li {
	float: left;
	padding: 2px;
}
#header .menu ul li a, .content nav a {
	display: block;
	padding: 10px;
	color: #fff;
	background: #e9633d;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}
.content nav {
	overflow: hidden;
	background: #e9633d;
	text-align: center;
}
.content nav a {
	display: inline-block;
	padding: 10px 20px;
}
#wrapper #header .menu ul li a:hover, #wrapper #header .menu ul li.active a {
	text-decoration: none;
	color: #fff;
	box-shadow: 0 15px 14px rgba(251, 236, 0, 0.4) inset;
}
#more {
	display: none;
	position: relative;
}
#more .drop {
	position: absolute;
	z-index: 5;
	background: #46ddbf;
	padding: 10px 15px;
	top: 45px;
	left: -35px;
	display: none;
}
#more .drop ul li {
	margin: 10px 0;
}
#more .drop ul li a {
	text-align: center;
}
.menu-btn-row {
	overflow: hidden;
	width: 100%;
	display: none;
	padding: 0 0 10px;
}
a.menu-btn {
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 35px;
	height: 25px;
	position: relative;
}
a.menu-btn i {
	display: none;
	height: 3px;
	background: #e9633d;
}
a.menu-btn:after {
	display: block;
	content: "";
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	top: 20px;
	background: #e9633d;
}
a.menu-btn:before {
	display: block;
	content: "";
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	top: 10px;
	background: #e9633d;
}
.whole-drop-menu {
	display: none;
}
#main {
	width: 100%;
	padding: 0 0 25px;
}
#main:after {
	content: "";
	clear: both;
	display: block;
}
#wrapper .gallery {
	width: 100%;
	padding: 0 0 25px;
}
.owl-stage-outer {
	box-shadow: 9px 5px 17px rgba(133, 234, 214, 0.5), -9px -5px 17px rgba(133, 234, 214, 0.4);
}
#wrapper .gallery .list img {
	width: 100%;
}
.owl-nav {
	text-align: center;
}
.owl-prev, .owl-next {
	display: inline-block;
	padding: 10px;
}
.advertisement {
	width: 80%;
}
.advertisement h3 {
	text-transform: uppercase;
	font-size: 28px;
	line-height: 30px;
	text-align: center;
	color: #ff0000;
}
.advertisement span {
	text-transform: lowercase;
}
#main .content {
	float: left;  
    width: 80%;
}
#main .content .tours {
	margin: 0 -25px;
	overflow: hidden;
}
#main .content .tour {
	float: left;
    padding: 0 25px 50px;
    width: 33.333%;
}
#main .content .tour a:hover {
	text-decoration: none;
}
#main .content .tour a:focus {
	outline: none;
}
#main .content .tour .picture img, #main .content .hotel .picture img {
	width: 100%;
}
#main .content .hotel .picture img {
	height: 157px;
}
#main .content .tour p, #main .content .hotel p {
	background: #fff;
	color: #252525;
	text-align: center;
	margin: 0;
	font-size: 12px;
	line-height: 14px;
	padding: 15px 0;
	height: 50px;
	box-shadow: 0 -7px 26px rgba(133, 234, 214, 0.5) inset;
}
#sidebar {
	width: 17%;
	float: right;
	padding: 0 20px;
	background: #81decc; /* Old browsers */
	background: -moz-linear-gradient(left,  #81decc 1%, #46ddbf 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #81decc 1%,#46ddbf 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #81decc 1%,#46ddbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81decc', endColorstr='#46ddbf',GradientType=1 ); /* IE6-9 */
}
#sidebar .accordion > li {
	padding: 10px 0;
	border-bottom: 1px solid #d3d3d3;
}
#sidebar .accordion > li:last-child {
	border-bottom: none;
}
#sidebar .accordion li a {
	font-size: 12px;
	line-height: 14px;
}
#sidebar .accordion > li > a, .whole-drop-menu a {
	text-align: center;
	display: block;
	padding: 15px 0;
	color: #fff;
	text-transform: uppercase;
	background: #e9633d;
	font-weight: bold;
}
#sidebar .accordion > li > a:hover, #sidebar .accordion .slide ul li a:hover, 
#sidebar .accordion li.active a, #sidebar .accordion .slide ul li.active a,  .whole-drop-menu a:hover {
	text-decoration: none;
	box-shadow: 0 15px 14px rgba(251, 236, 0, 0.4) inset;	
	color: #fff;
}
#sidebar .accordion .slide ul li {
	margin: 10px 0;
}
#sidebar .accordion .slide ul li a {
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	display: block;
	padding: 10px 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	box-shadow: 0 -10px 14px rgba(0, 0, 0, 0.4) inset;
	text-align: center;
}
#footer {
	text-align: center;
}
#footer span {
	display: block;
}
#btn-up {
	background: url("../img/up.png") no-repeat scroll 50% 50%, rgba(133, 234, 214, 0.5) none repeat scroll 0 0;
    border-radius: 4px;
    bottom: 35px;
    color: #fff;
    display: none;
    text-indent: -9999px;
    padding: 25px 35px 10px;
    position: fixed;
    right: 35px;
    background-size: 50% 50%;
}
#btn-up:hover {
	text-decoration: none;
	background-color: rgba(133, 234, 214, 0.6);
	background-position: 50% 35%;
}
.flight {
	position: absolute;
	z-index: 10;
	top: 100%;
	right: -500px;
}
/*----- azovsea -----*/
.content h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
	line-height: 30px;
	color: #e9633d;
	text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.85);
	filter: Shadow(Color=#000000, Direction=135, Strength=3);
}
#wrapper .content .gallery img {
	height: auto;
}
.content .description {
	padding: 20px 25px;
	background: rgba(137, 137, 143, 0.2);
	margin: 0 0 25px;
}
.content p {
	color: #252525;
	font-weight: 700;
	text-align: justify;
	margin: 0;
}
#main .content .hotels {
	margin: 0 -25px;
	overflow: hidden;
}
#main .content .hotel {
	float: left;
    padding: 0 25px 50px;
    width: 25%;
}
#main .content .hotel a:hover {
	text-decoration: none;
}
#main .content .hotel a:focus {
	outline: none;
}
/*----- International driver licence -----*/
.driver-licence table {
	width: 100%;
}
.driver-licence table td:last-child {
	text-align: center;
}
.driver-licence h3 {
	text-transform: uppercase;
	text-align: center;
}
.driver-licence ul {
	margin: 10px;
	padding: 5px;
	list-style: square;
}
.driver-licence p {
	font-weight: normal;
}
.driver-licence-pictures {
	text-align: center;
}
.driver-licence-pictures img {
	display: inline-block;
	width: 50%;
}
/* Конфигурация стилей для формы поиска туров */

.os-form-wrap {
    /*border: 5px solid #0799ff;  цвет рамки вокруг формы */
    background: rgba(137, 137, 143, 0.2) !important;
    padding: 22px 40px; /* отступ от рамки до содержимого формы */
    width: 100%;
}
/* стиль рамки выпадающего списка туров */
.ui-autocomplete {
    border:1px solid #0799ff;
}
.ui-autocomplete .ui-menu-item .ui-corner-all .price-from {
    color: #0799ff; /* цвет цен в списке туров */
}
.ui-autocomplete .ui-menu-item .ui-corner-all .label {
    color: #0799ff; /* цвет названий направлений в списке туров */
}
.ui-autocomplete .ui-menu-item .ui-corner-all.ui-state-focus {
    /* фон для выделенного элемента списка туров */
    background-color: #1db8ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1db8ff), to(#057eff));
    background-image: -webkit-linear-gradient(top, #1db8ff, #057eff);
    background-image: -moz-linear-gradient(top, #1db8ff, #057eff);
    background-image: -ms-linear-gradient(top, #1db8ff, #057eff);
    background-image: -o-linear-gradient(top, #1db8ff, #057eff);
    background-image: linear-gradient(to bottom, #1db8ff, #057eff);
}
.ui-autocomplete .ui-menu-item .ui-corner-all.ui-state-focus .price-from{
    color: #ffffff;   /* цвет цены тура в выделенном эл-те списка туров */
}
.ui-autocomplete .ui-menu-item .ui-corner-all.ui-state-focus .label {
    color: #ffffff; /* цвет названий направлений в выделенном эл-те списка туров */
}
.os-block_select, .os-block_select option {
    color: #0799ff; /* цвет в списках выбора (select) */
}
.os-block_field, input[placeholder] {
    color: #0799ff !important; /* цвет текста в текстовых полях */
}
/* цвет рамки вокруг календарика */
.datepicker {
    border: 1px solid #0799ff;
}
/* Стили для календаря (цвет шапки с месяцем и выделенной даты) */
.table-condensed .prev, .table-condensed .next, .table-condensed .switch {
    /* цвет шапки календаря */
    background-color: #1db7ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1db7ff), to(#0781ff));
    background-image: -webkit-linear-gradient(top, #1db7ff, #0781ff);
    background-image: -moz-linear-gradient(top, #1db7ff, #0781ff);
    background-image: -ms-linear-gradient(top, #1db7ff, #0781ff);
    background-image: -o-linear-gradient(top, #1db7ff, #0781ff);
    background-image: linear-gradient(to bottom, #1db7ff, #0781ff);

    color: #fff; /* цвет текста в шапке */
}
.table-condensed .active {
    background-color: #e9633d; /* фон для выбранной в календаре даты */
    color: #ffffff; /* цвет выделенной даты */
}
.os-l-link {
    /* цвет текста и подчеркивания ссылки "Уточнить "*/
    border-bottom: 1px dotted #0799ff;
    color: #0799ff;
}
.os-rating-values .selected, .selected .os-block_label_title, .selected .abbr, .os-price-slider .os-block-field {
    /* цвет текста для выбранных элементов в расширенных параметрах поиска */
    color: #0799ff;
}
.os-block_label {
	color: #252525 !important;
	font-size: 14px !important;
	line-height: 16px !important;
}
.os-form-submit_button {
    /* цвет фона кнопки "Найти" */
    background-color: #e9633d;
    /* цвет текста на кнопке */
    color: #fff;
    /* стиль рамки */
    border: none !important;
    border-radius: 0 !important;
}
.os-form-submit_button:hover {
    box-shadow: 0 15px 14px rgba(251, 236, 0, 0.4) inset; /* цвет рамки вокруг кнопки "Найти" при наведении */
}
.os-form-submit_button:active {
    /* цвет фона кнопки "Найти" при нажатии */
    background-color: #0075BF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0075BF), to(#32a9fd));
    background-image: -webkit-linear-gradient(top, #0075BF, #32a9fd);
    background-image: -moz-linear-gradient(top, #0075BF, #32a9fd);
    background-image: -ms-linear-gradient(top, #0075BF, #32a9fd);
    background-image: -o-linear-gradient(top, #0075BF, #32a9fd);
    background-image: linear-gradient(to bottom, #0075BF, #32a9fd);

}
/* ------------------------------------------------------------------------------ */

/* Конфигурация стилей для результатов поиска туров*/

/* Цвет ссылок в результатах поиска */
.os-result-title_link, .os-result-description_link, .os-result-tour {
    color: #0799ff;
}
/* Стили для цен в результатах поиска */
.os-offer-price_value, .os-offer-price_date, .os-offer-price_value_fcurrency {
    color: #0088dd; /* цвет надписей в цене */
}
.selected .os-offer-price {
    border: 1px solid #008dde !important; /* стиль рамки выделенной цены */

    /* фон выделенной цены */
    background-color: #efefef;
    background: -webkit-radial-gradient(#efefef 65%, #c4c4c4);
    background: -o-radial-gradient(#efefef 65%, #c4c4c4);
    background: -moz-radial-gradient(#efefef 65%, #c4c4c4);
    background: radial-gradient(#efefef 65%, #c4c4c4);
}
.os-offer-price_link {
    /* фон кнопки выбрать" в цене */
    background-color: #6dbbee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6dbbee), to(#035fdd));
    background-image: -webkit-linear-gradient(top, #6dbbee, #035fdd);
    background-image: -moz-linear-gradient(top, #6dbbee, #035fdd);
    background-image: -ms-linear-gradient(top, #6dbbee, #035fdd);
    background-image: -o-linear-gradient(top, #6dbbee, #035fdd);
    background-image: linear-gradient(to bottom, #6dbbee, #035fdd);
    /* цвет текста на кнопке "выбрать" в цене */
    color: #ffffff;
}

/* ------------------------------------------------------------------------------ */

/* Конфигурация стилей для страницы тура*/

/* цвет ссылок и пунктов меню на странице тура*/
.os-back_link, .os-tour-menu .item_link, .os-hotel-info-item_value a, .os-rating_link {
    color: #0799ff;
}
.os-food-room_link, .os-review-block_title_value, .os-review-block_toggle, .os-rating-detail_toggle_value {
    border-bottom: 1px dotted;
    color: #0799ff;
}
/* */
.os-tour-info_people {

}
.os-tour_buy, .form-submit_button, a.os-tour_buy {
    /* цвет фона кнопок "Заказать" и "Отправить" */
    background-color: #32a9fd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#32a9fd), to(#017bc9));
    background-image: -webkit-linear-gradient(top, #32a9fd, #017bc9);
    background-image: -moz-linear-gradient(top, #32a9fd, #017bc9);
    background-image: -ms-linear-gradient(top, #32a9fd, #017bc9);
    background-image: -o-linear-gradient(top, #32a9fd, #017bc9);
    background-image: linear-gradient(to bottom, #32a9fd, #017bc9);
    /* цвет текста на кнопках */
    color: #ffffff;
    /* стиль рамки */
    border:5px solid #dbdbdb;
}
/* цвет рамки кнопки при наведении на кнопку */
.os-tour_buy:hover, .form-submit_button:hover {
    border-color: #BAEBFF !important; /* цвет рамки вокруг кнопки "Найти" при наведении */
}
.os-tour_buy:active, .form-submit_button:active, a.os-tour_buy:active {
    /* цвет фона кнопок "Заказать" и "Отправить" при нажатии */
    background-color: #0075BF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0075BF), to(#32a9fd));
    background-image: -webkit-linear-gradient(top, #0075BF, #32a9fd);
    background-image: -moz-linear-gradient(top, #0075BF, #32a9fd);
    background-image: -ms-linear-gradient(top, #0075BF, #32a9fd);
    background-image: -o-linear-gradient(top, #0075BF, #32a9fd);
    background-image: linear-gradient(to bottom, #0075BF, #32a9fd);
}
/* цвет надписей параметров тура (кол-во человек, дата вылета, тип номера, питание) */
.os-tour-info_people, .os-tour-info-dates-from_value, .os-tour-info-dates-to_value,
.os-tour-info-food_value, .os-tour-info_add .item.selected {
    color: #0799ff;
}

/* цвет цены тура в правой колонке */
.os-tour-price_value {
    color: #cc3333;
}

/* цвет ссылок "закрыть" в таблицах с ценами на другие дни */
.os-tour-info-dates_close, .os-tour-info-food_close {
    color: #c93636;
}

/* стили фона и рамочки блока с ценой в таблицах цен */
.os-tour-info_date_price .date_link, .os-tour-info_food .date_link {
    border: 1px solid #cccccc; /* стиль рамки */

    /* оформление фона */
    background-color: #f9f9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ebebeb));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: linear-gradient(to bottom, #f9f9f9, #ebebeb);
}
/* цвета цен в таблице с ценами */
.os-tour-info_date_price .date_link .uah,  .os-tour-info_food .date_link .uah{
    color: #666666;
}
.os-tour-info_date_price .date_link .usd, .os-tour-info_food .date_link .usd {
    color: #888888;
}
/* цвета цен при наведении на блок с ценой */
.os-tour-info_date_price .date_link:hover .uah, .os-tour-info_food .date_link:hover .uah {
    color: #0799ff;
}
.os-tour-info_date_price .date_link:hover .usd, .os-tour-info_food .date_link:hover .usd {
    color: #0799ff;
}

/* оформление выделенной цены в таблице цен */
.os-tour-info_date_price .date_link.selected, .os-tour-info_food .date_link.selected {
    border: 1px solid #0977BC; /* стиль рамки */

    /* фон выделенной цены */
    background-color: #0977bc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0977bc), to(#35a8f4 60%));
    background-image: -webkit-linear-gradient(top, #0977bc, #35a8f4 60%);
    background-image: -moz-linear-gradient(top, #0977bc, #35a8f4 60%);
    background-image: -ms-linear-gradient(top, #0977bc, #35a8f4 60%);
    background-image: -o-linear-gradient(top, #0977bc, #35a8f4 60%);
    background-image: linear-gradient(to bottom, #0977bc, #35a8f4 60%);
}

/* цвет надписей выделенной цены */
.os-tour-info_date_price .date_link.selected .uah, .os-tour-info_food .date_link.selected .uah {
    color: #ffffff;
}
.os-tour-info_date_price .date_link.selected .usd, .os-tour-info_food .date_link.selected .usd {
    color: #ffffff;
}

/* стиль кнопки "изменить "*/
.os-tour-info-dates_change, .os-tour-info-food_change {
    /* цвет фона кнопки */
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e4e4e4));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e4e4e4);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e4e4e4);
    background-image: -ms-linear-gradient(top, #f7f7f7, #e4e4e4);
    background-image: -o-linear-gradient(top, #f7f7f7, #e4e4e4);
    background-image: linear-gradient(to bottom, #f7f7f7, #e4e4e4);

    /* стиль рамки */
    border: 1px solid #e4e4e4;
    /* цвет надписи */
    color: #666;
}
/* стиль кнопок "изменить" при наведении */
.os-tour-info-block:hover .os-tour-info-dates_change, .os-tour-info-block:hover .os-tour-info-food_change, .os-tour-info-block:hover .os-tour-info-food_change {
    color: #FfFfFf; /* цвет надписи на кнопке */

    /* цвет фона кнопки */
    background-color: #32a9fd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#32a9fd), to(#017bc9));
    background-image: -webkit-linear-gradient(top, #32a9fd, #017bc9);
    background-image: -moz-linear-gradient(top, #32a9fd, #017bc9);
    background-image: -ms-linear-gradient(top, #32a9fd, #017bc9);
    background-image: -o-linear-gradient(top, #32a9fd, #017bc9);
    background-image: linear-gradient(to bottom, #32a9fd, #017bc9);
}
/*------------------------Модуль горящих туров-------------------------*/
#hototpForm h2 {
 color:#0799ff;  /* цвет заголовков подблоков */
 margin:0px 0px 0px 20px; /* отступ заголовка блока относительно остального содержимого блока */
 font-size:22px; /* размер заголовка блока горящих туров */
}
#hototpForm .hot-otp-form-wrap {
 border:5px solid transparent; /* цвет рамки вокруг всей формы*/
 padding: 10px 25px 20px 25px; /* отступы от рамки блока горящих туров до содержимого блока */ 
}
.hot-otp-content td {
 color:#666666;  /* цвет текста с кратким описанием тура */
 font-size:13px; /* размер текста с кратким описанием тура */
}
.hot-price-block span, .hot-price-block-vertical span {
 color: #0799ff; /* цвет текста цены */
 font-size:16px; /* размер шрифта цены */
 background-color: transparent; /* цвет фона надписи с ценой тура */
 padding: 0px; /* отступы от границы маленького блока с ценой до текста с ценой, может задаваться для увеличения заднего фона цены */
}
.hot-otp-description {
 color: #0799ff; /* цвет направления тура */
 font-size:16px; /* размер шрифта направления тура */
 background-color: transparent; /* цвет фона надписи с направлением тура */
 padding: 0px; /* отступы от границы маленького блока с направлением тура до надписи, может задаваться для увеличения заднего фона блока с надписью направления тура */
} 
.hot-otp-tour-block { 
 border-top: 2px solid #ffffff; 
 border-bottom: 1px solid #cfcfcf; /* верхняя и нижняя рамки блоков с турами */
} 
.hot-otp-tour-block-last {
 border-top: 2px solid #ffffff; /* нижняя рамка последнего блока с турами */
}
.hot-otp-form-inner {
 padding: 5px 0px 10px 20px; /* отступы текста с кратким описанием блока относительно нижней рамки, отделяющей описание от туров */
 border-bottom: 1px solid #cbcbcb; /* стили рамки, которая отделяет краткое описание блока от туров */
}
#hototpForm .hot-otp-form-wrap {
 background-color:#ffffff; /* цвет фона блока горящих туров */ 
}
.hot-otp-tour-block:hover {
 background-color: #F8F8F8; /* цвет строки с туром при наведении на неё */
}
.hot-otp-tour-block td {
 padding: 10px 0 10px 20px; /* отступы надписи с предложением тура от границ строки */
}
.hot-price-block-vertical {
 padding: 0 0 5px 20px !important; /* отступы надписи с ценой от границ строки и от надписи с направлением тура, действительно для блока с вертикальным расположением */
}
.hot-otp-content i {
 font-size:11px; /* размер надписи с кратким описанием блока горящих туров */
 color: #666666; /* цвет надписи с кратким описание блока горящих туров */
}
@media screen and (max-width: 1199px) {
	#bg-wrapper {
		background-position: center 125px;
	}
	#wrapper {
		padding: 75px 0 0;
		width: 970px;
	}
	#header a.logo {
		font-size: 68px;
		line-height: 70px;
	}
	#main #sidebar {
		width: 20%;
	}
	#main .content, .advertisement {
		width: 75%;
	}
	#main .content .hotel {
		width: 33.333%;
	}
	.hide li:last-child {
		display: none;
	}
}
@media screen and (max-width: 991px) {
	#wrapper {
		width: 750px;
		padding: 75px 1% 0;
	}
	#header a.logo {
		font-size: 55px;
		line-height: 57px;
	}
	#header .contacts .phone strong {
		font-size: 30px;
		line-height: 32px;
	}
	#main .content, .advertisement {
		width: 70%;
	}
	#main .content .tour {
		width: 50%;
	}
	#main .content .hotel {
		width: 50%;
	}
	#main #sidebar {
		width: 25%;
	}
	.hide {
		display: none;
	}
	#more {
		display: block;
	}
	.driver-licence-pictures img {
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	#bg-wrapper {
		background-position: left 225px;
	}
	#wrapper {
		padding-top: 10px;
		width: 100%;
	}
	#header a.logo {
		font-size: 58px;
		line-height: 60px;
	}
	#header .contacts .phone strong {
		font-size: 41px;
		line-height: 43px;
	}
	#wrapper #header h1, #wrapper #header .contacts, #wrapper #header .contacts .phone {
		width: 100%;
		float: none;
		text-align: center;
	}
	#header {
		padding: 10px 20px;
	}
	#header .menu {
		display: none;
	}
	.menu-btn-row {
		display: block;
	}
	.menu-btn-holder {
		float: right;
		padding: 15px 12px 11px;
		border: 3px solid #e9633d;
		cursor: pointer;
	}
	a.menu-btn,a.menu-btn i {
		display: block;
	}
	a.menu-btn:hover {
		text-decoration: none;
	}
	.whole-drop-menu {
		width: 100%;
	}
	.whole-drop-menu li {
		margin-bottom: 2px;
	}
	.driver-licence-pictures img {
		width: 75%;
	}
}
@media screen and (max-width: 700px) {
	#main .content, .advertisement {
		width: 100%;
	}
	#main .content .tours, #main .content .hotels {
		margin: 0;
	}
	#main #sidebar {
		width: 100%;
		margin: 0 0 25px;
	}
}
@media screen and (max-width: 579px) {
	#wrapper #header .contacts .phone strong {
		font-size: 30px;
		line-height: 32px;
	}
}
@media screen and (max-width: 451px) {
	#header a.logo {
		font-size: 55px;
		line-height: 57px;
	}
	#main .content .tour {
		width: 100%;
	}
	#main .content .hotel {
		width: 100%;
	}
	#main .content .hotel .picture img {
		height: auto;
	}
}